<app-navbar></app-navbar>
<div class="container-fluid">
<main>
    <h1>Sobre nós</h1>
    <form>
      <body>
            <p> A Dencove é uma empresa inovadora dedicada à prevenção e erradicação da dengue. Combinando tecnologia de ponta e práticas sustentáveis, nossa missão é proteger as comunidades ao redor do mundo contra a ameaça da dengue, uma das doenças mais prevalentes e perigosas em regiões tropicais e subtropicais.
              Fundada por um grupo de especialistas em saúde pública, biotecnologia e engenharia, a Dencove se destaca pelo desenvolvimento de soluções eficazes que atacam diretamente o ciclo de vida do mosquito Aedes aegypti, principal transmissor da doença. Nossa abordagem inclui a criação de dispositivos inteligentes de monitoramento, métodos avançados de controle biológico e campanhas de conscientização que empoderam as comunidades a tomarem medidas preventivas.
              Na Dencove, acreditamos que o combate à dengue deve ser holístico e integrado, envolvendo desde a inovação tecnológica até a educação pública. Com um compromisso inabalável com a saúde e o bem-estar, nossa visão é um mundo livre de dengue, onde cada pessoa possa viver sem o medo constante dessa doença.
              Estamos constantemente em busca de novas soluções e parcerias para fortalecer nossa missão. Junte-se a nós nessa jornada para construir um futuro mais seguro e saudável para todos.</p>       
           
            <br>
    </body>
    </form>
 </main>
</div>
<app-footer></app-footer>