<link rel="stylesheet" href="navbar.component.css"/>
 <header>
    <div class="main">
      <div class="logo">
        <button class="botao_logo">
          <img class="logo" src="assets/img/logo.jpg">
        </button>
      </div>
    </div>
    <header>
      <div class="">
      <nav class="navegation">
          <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Campanhas</a></li>
              <li><a href="">Mapa de calor</a></li>
              <li><a routerLink="">Denuncias</a>
              <li> <a href="">Sobre</a></li>
          </ul>
      </nav>
    </div>
  </header>
    <div class="main_login">
      <button>
        <a routerLink="login" routerLinkActive="active">LOGIN</a>
      </button>
