<link rel="stylesheet" href="navbar.component.css"/>
 <header>
    <div class="main">
      <div class="logo">
        <button class="botao_logo">
          <img class="logo" src="assets/img/logo.jpg">
        </button>
      </div>
    </div>
    <header>
      <div class="">
      <nav class="navegation">
          <ul>
              <li><a routerLink="/" routerLinkActive="true">Home</a></li>
              <li><a routerLink="/campaigns" routerLinkActive="true">Campanhas</a></li>
              <li><a routerLink="/map" routerLinkActive="true">Mapa de calor</a></li>
              <li><a routerLink="/complaints" routerLinkActive="true">Denuncias</a>
              <li> <a routerLink="/about" routerLinkActive="true">Sobre</a></li>
          </ul>
      </nav>
    </div>
  </header>
    <div class="main_login">
      <button>
        <a routerLink="/login" routerLinkActive="active">LOGIN</a>
      </button>
    </div>
