<link rel="stylesheet" href="carousel.component.css"/>
<script src="script.js"></script>
<div class="carousel">
    <input type="radio" name="carousel" id="slide1" checked>
    <input type="radio" name="carousel" id="slide2">
    <input type="radio" name="carousel" id="slide3">
    <div class="slides">
      <div class="slide">
        <img src="assets/imgs/cam01.jpg" alt="Slide 1">
      </div>
      <div class="slide">
        <img src="assets/imgs/cam02.png" alt="Slide 2">
      </div>
      <div class="slide">
        <img src="assets/imgs/cam03.jpg" alt="Slide 3">
      </div>
    </div>
    <div class="navigation">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div>