    <div class="slider">
        <div class="slides">
           <input type="radio" name="radio-bnt" id="radio1">
           <input type="radio" name="radio-bnt" id="radio2">
           <input type="radio" name="radio-bnt" id="radio3">

           <div class="slide first">
              <img src="assets/imgs/cam01.jpg" alt="imagem 1"/>
           </div>

           <div class="slide ">
            <img src="assets/imgs/cam02.png" alt="imagem 2"/>
         </div>

         <div class="slide ">
            <img src="assets/imgs/cam03.jpg" alt="imagem 3"/>
         </div>

         
         <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn1"></div>
            <div class="auto-btn1"></div>
         </div>
            
        </div>

      <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
      </div>

    </div>
    <script src="carousel.component.js"></script>

