        <footer class="footer">
            <div class="footer-content">
                <img src="assets/imgs/pref.png" alt="Taquaritinga Contra a Dengue" class="footer-logo">
                <div class="footer-section">
                    <h3>Contato</h3>
                    <p>3333-3333</p>
                    <p>emailemail.com</p>
                </div>
                <div class="footer-section">
                    <h3>Endereço</h3>
                    <p>Rua Fulano, 134</p>
                    <p>Centro, Taquaritinga-SP</p>
                </div>
                <div class="footer-section">
                    <h3>Redes Sociais</h3>
                    <p>Instagram</p>
                    <p>Facebook</p>
                </div>
            </div>
        </footer>
    

