@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    .footer {
        background-color: #941f29;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footer-content {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .footer-logo {
        max-height: 100px;
        border-radius: 50%;
        margin-right: 200px;
        margin-left: 50px;
    }

    .footer-section {
        text-align: left;
        color: #ffffff;
        margin-right: 50px;
    }

    .footer-section h3 {
        margin-top: 0;
        font-size: 18px;
        margin-right: 100px;
    }

    .footer-section p {
        margin: 5px 0;
        font-size: 16px;
        padding-right: 70px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .footer {
        background-color: #941f29;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 15.9vh;
    }

    .footer-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .footer-logo {
        border-radius: 50%;
    }

    .footer-section {
        color: #ffffff;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .footer-section h3 {
        margin-top: 0;
        font-size: 18px;
        margin-right: 100px;
    }

    .footer-section p {
        margin: 5px 0;
        font-size: 16px;
        padding-right: 70px;
        margin-right: 50px;
        width: 100%;
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        background-color: #941f29;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 26vh; 
    }

    .footer-content {
        display: flex;
        align-items: center;
        border: 1px solid black;
        justify-content: space-between;
        width: 100%; 
    }

    .footer-logo {
        max-height: 80px; 
        border-radius: 50%;
    }

    .footer-section {
        color: #ffffff;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        width: 30%; 
    }

    .footer-section h3 {
        font-size: 16px;
        margin-right: 20px;
    }

    .footer-section p {
        font-size: 14px;
        padding-right: 10px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .footer {
        background-color: #941f29;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        border: 1px solid black;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-logo {
        max-height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .footer-section {
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-section h3 {
        font-size: 14px;
    }

    .footer-section p {
        font-size: 12px;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 320px) {
    .footer {
        background-color: #941f29;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-logo {
        max-height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .footer-section {
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-section h3 {
        font-size: 14px;
    }

    .footer-section p {
        font-size: 12px;
        margin: 5px 0;
    }
}
