<app-navbar></app-navbar>
<link rel="stylesheet" href="campaigns.component.css">
<div class="container">
    <div class="container">
        <div class="item">
          <div class="image">
            <img src="assets/imgs/cam01.jpg" alt="Mosquito 1">
          </div>
          <div class="text">
            campanhas
          </div>
        </div>
      
        <div class="item">
          <div class="image">
            <img src="assets/imgs/cam02.png" alt="Mosquito 2">
          </div>
          <div class="text">
            campanhas
          </div>
        </div>
      </div>
      

<app-footer></app-footer>


https://getbootstrap.com/docs/5.0/components/dropdowns/