<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
      <div class="card">
          <img src="assets/imgs/cam01.jpg" alt="Campanha 1">
          <div class="text">O mosquito Aedes aegypti é pequeno, mas os danos que ele causa são enormes. 
            Ele é o principal transmissor da dengue, uma doença que pode ser evitada com atitudes simples. 
            Não dê chance para o mosquito! Elimine qualquer foco de água parada, onde ele se reproduz.
            Uma pequena ação diária pode proteger sua família e sua comunidade de uma grande ameaça.</div>
      </div>
      <div class="card">
          <img src="assets/imgs/cam02.png" alt="Campanha 2">
          <div class="text">A dengue é uma ameaça real, mas você pode fazer a diferença! Evite o acúmulo de água parada em vasos,
             pneus e outros recipientes. Mantenha caixas d’água bem tampadas e limpe regularmente calhas e ralos. 
             Cada ação conta para afastar o mosquito Aedes aegypti da sua casa e da sua comunidade. 
            Juntos, podemos eliminar os focos e proteger nossas famílias. Previna a dengue!</div>
      </div>
  </div>
</div>
<app-footer></app-footer>