<div class="page">
    <form method="POST" class="formLogin">
        <h1>Login</h1>
        <p>Preencha com seus dados os campos abaixo.</p>
        <label for="email">E-mail ou CPF</label>
        <input type="email" placeholder="Digite seu e-mail ou CPF" autofocus="true" />
        <label for="password">Senha</label>
        <input type="password" placeholder="Digite sua senha" />
        <a routerLink="/register" routerLinkActive="true">Cadastrar</a>
        <a routerLink="/forgetpassword" routerLinkActive="true">Esqueci minha senha</a>
        <input type="submit" value="Acessar" class="btn" />
    </form>
</div>
